.card {
    font-size: 10px;
    height: 150px;
    width: 150px;
    margin: 0 auto 30px;
    border: none !important;
    background: none;
    background-repeat: no-repeat;
  }
  
  .card .img-container > img {
    width: 100%;
    height: 100%;
  }

  